<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <h1>Situtur</h1>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="contact">Contact AS</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1>Selamat Datang di Situtur</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam rerum, consectetur mollitia nostrum nesciunt officia fuga, reiciendis, assumenda voluptatum sit architecto sapiente voluptates deserunt cumque dolores? Unde quidem asperiores incidunt.</p>
    </section>

</body>
</html>