<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username" name="username" placeholder="Masukkan Username">Username</label><br>
        <input type="text" name="username" id="username" required><br><br>
        <label for="password" name="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Masukkan Password"required><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>